/* Regular 400 Bold 700 Black 900  */
body {
  background-color: #121212;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 65px;
  font-weight: 900;
}

/* NAVBAR */

.navbar-bkg {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px 30px;
}
.navbar-text-style {
  color: #996fcd;
  display: inline;
}
.text-right {
  float: right;
}

/* LANDING */

.landing-bkg {
  background-image: url(./logo512.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 512px;
  padding: 30px 0 0 30px;
}

/* SEARCH BAR */

.search_bar-bkg {
  background-color: rgba(255, 255, 255, 0.05);
  text-align: center;
}
.search_bar {
  background-color: transparent;
  /* border-radius: 5px 0 0 5px; */
  border: solid 2px rgba(255, 255, 255, 0.15);
  border-right: none;
  color: #996fcd;
  font-size: large;
  height: 31px;
  margin: 10px 0px 10px 10px;
  padding: 0 0 0 10px;
  width: 70%;
}
.search_bar:focus {
  outline: solid 2px #996fcd;
}

.search_bttn {
  background-color: transparent;
  /* border-radius: 0 5px 5px 0 ; */
  border: solid 2px rgba(255, 255, 255, 0.15);
  color: white;
  font-size: large;
  height: 35px;
  margin: 10px 10px 10px 0;
}
.search_bttn:hover {
  outline: solid 2px #996fcd;
}

/* CARDS */

.card-container {
  text-align: center;
}

.card-bkg {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.03);
  display: flex;
  height: 600px;
  justify-content: center;
  margin: 50px auto;
  width: 90%;
}

.card-overlay {
  background-color: rgba(255, 255, 255, 0.08);
  height: 90%;
  width: 95%;
}

.card-header {
  background-color: rgba(255, 255, 255, 0.1);
  height: 150px;
  margin: 20px auto;
  text-align: left;
  width: 96.5%;
}

.link-button {
  background-color: transparent;
  border: 3px solid #996fcd;
  color: #996fcd;
  float: right;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  margin: -95px 2% 0 0;
  transition: all 0.5s;
  width: 100px;
}

.link-button:hover {
  background-color: #996fcd;
  color: white;
}

.card-title {
  margin: 30px 20px 20px;
}

/* BUTTON */

.add-button {
  background-color: #00d8ff;
  border: none;
  border-radius: 50%;
  font-size: 42px;
  font-weight: 900;
  height: 75px;
  margin-right: 50px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.5s;
  width: 75px;
}

.add-button:hover {
  background-color: #996fcd;
}

.sticky {
  bottom: 5vh;
  position: -webkit-sticky;
  position: sticky;
  text-align: right;
}

/* ADD COMPONENT */

.AC-bkg {
  background-color: rgba(0, 0, 0, 0.8);
  height: 500px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  width: 1000px;
}

.add-component-input {
  width: 400px;
  height: 20px;
}

.form-input {
  margin: 30px 0;
}

/* REQUEST DIVISIONS */

.req-bkg{
  background-color: rgba(255, 255, 255, 0.03);
  margin: 30px;
}